{% load static %}

<!-- ADMIN HEADER -->
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

        <!-- LEFT: Back + Title -->
        <div class="flex items-center gap-4">

            <!-- Back Button -->
            <button onclick="history.back()"
                class="flex items-center gap-1 text-sm text-gray-600 hover:text-blue-600 transition">
                <img src="{% static 'images/left-arrow.png' %}" alt="" class="w-[23px]">
            </button>

            <!-- Admin Title -->

                <h1 class="text-xl font-bold text-gray-800">
                    Admin Dashboard
                </h1>
        </div>

        <!-- RIGHT: User + Logout -->
        <div class="flex items-center gap-4">
            <span class="text-sm text-gray-600">
                {{ request.user.email }}
            </span>

            <a href=""
               class="text-sm bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">
                Logout
            </a>
        </div>

    </div>
</header>
