{% load static %}

<header class="w-full bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">

        <!-- Logo -->
        <h1 class="text-2xl font-bold text-green-600">TURFY</h1>

        <!-- Desktop Menu -->
        <nav class="hidden md:flex space-x-8 text-gray-600 font-medium">
            <a href="{% url 'web:index' %}"
                class="block roundedtransition-all duration-300 ease-in-out hover:text-green-500  hover:-translate-y-1">Home</a>
            <a href="{% url 'web:turf_list' %}"
                class="block roundedtransition-all duration-300 ease-in-out hover:text-green-500  hover:-translate-y-1">Turfs</a>
            <a href="{% url 'web:my_bookings' %}"
                class="block roundedtransition-all duration-300 ease-in-out hover:text-green-500  hover:-translate-y-1">Booking
                List</a>
            <a href="#"
                class="block roundedtransition-all duration-300 ease-in-out hover:text-green-500  hover:-translate-y-1">Contact</a>

            {% if user.is_agent %}
            <a href="{% url 'web:owner_dashboard' %}"
                class="text-red-500 block roundedtransition-all duration-300 ease-in-out hover:text-green-500  hover:-translate-y-1  font-bold">Dash board</a>
            {% endif %}    
        </nav> 

        <!-- Desktop Login Button -->


        <div class="hidden md:block">

            {% if user %}
            <a href="{% url 'web:logout' %}"
                class="px-5 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 transition">
                logout
            </a>
            {% else %}
            <a href="{% url 'web:login' %}"
                class="px-5 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 transition">
                login
            </a>
            {% endif %}
        </div>

        <!-- Mobile Menu Button -->
        <button onclick="toggleMenu()" class="md:hidden text-3xl text-gray-700">
            ☰
        </button>
    </div>

    <!-- Mobile Menu Dropdown -->
    <div id="mobileMenu" class="hidden md:hidden bg-white px-4 pb-4 shadow">

        <a href="#" class="block py-2 text-gray-700 font-medium hover:text-green-600">Home</a>
        <a href="#" class="block py-2 text-gray-700 font-medium hover:text-green-600">Turfs</a>
        <a href="#" class="block py-2 text-gray-700 font-medium hover:text-green-600">About</a>
        <a href="#" class="block py-2 text-gray-700 font-medium hover:text-green-600">Contact</a>

        {% if user %}
        <a href="{% url 'web:logout' %}"
            class="px-5 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 transition">
            logout
        </a>
        {% else %}
        <a href="{% url 'web:login' %}"
            class="px-5 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 transition">
            login
        </a>
        {% endif %}
    </div>
</header>

<script>
    function toggleMenu() {
        document.getElementById('mobileMenu').classList.toggle('hidden');
    }
</script>